$primary: #FFFFFC;
$secondary:  #7286A5;
$accent: #F5AF19;

$font-family-sans-serif: bebas-neue-pro, sans-serif;

@import "~bootstrap/scss/bootstrap";

@import "./components/nav.scss";
@import "./layout/layout.scss";
@import "./components/jumbotron.scss";
@import "./components/button.scss";
@import "./components/carousel.scss";
@import "./base/typography.scss";
@import "./pages/about.scss";
@import "./pages/contact.scss";
