nav {
    background-color: white !important;
    z-index: 2;
}

nav a {
    color: black;
    text-transform: uppercase;
    font-size: 1.2rem;
}
nav a:hover {
    text-decoration: underline $accent;
    color: black;
}
.logo {
    width: 100px;
}
.logo-text {
    width: 100px;
}