#root {
    scroll-behavior: smooth;
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
}
.home {
    min-height: 100vh;
}
.row {
    width: 100%;
    margin: 0 auto;
}
section {
    scroll-snap-align: start;
    position: relative;
    min-height: 100vh;
}